[Unit]
Description=Paris Wallet
After=network.target

[Service]
Type=forking
User=emc
ExecStart=/usr/bin/Parisd -daemon -datadir=/var/lib/emc/.Paris -conf=/var/lib/emc/.Paris/Paris.conf -pid=/var/lib/emc/.Paris/Parisd.pid
ExecStop=/usr/bin/Paris-cli -datadir=/var/lib/emc/.Paris stop
PIDFile=/var/lib/emc/.Paris/Parisd.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
